# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
!/tmp/storage/
!/tmp/storage/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore storage artifacts.
/storage/*
!/storage/.keep

# Ignore sqlite database files.
/db/*.sqlite3
/db/*.sqlite3-*

# Ignore master key for decrypting credentials and more.
/config/master.key
/config/credentials/*.key

# Ignore local env files.
/.env
/.env.*
!/.env.example

# Ignore editor and system files.
/.idea
/.vscode
*.swp
*.swo
.DS_Store
Thumbs.db
